<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYwy5RSLrupxPuGzifO1_wOzRdyY5SE-k</string>
	<key>GCM_SENDER_ID</key>
	<string>613665824404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineshop</string>
	<key>PROJECT_ID</key>
	<string>online-shop-b546f</string>
	<key>STORAGE_BUCKET</key>
	<string>online-shop-b546f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613665824404:ios:e4acd079e74a444c86de81</string>
</dict>
</plist>